#  Pandas for ML Engineers — AI/ML Salaries Dataset Analysis

#  Pandas for ML Engineers — AI/ML Salaries Dataset Analysis

In [7]:
import pandas as pd


print("✅ Pandas:", pd.__version__)

✅ Pandas: 3.0.0

In [8]:
# Load data
df = pd.read_csv('Iris.csv')

In [9]:
# Basic checks (TODO)
# 1) Print the shape of the DataFrame
print('shape:', df.shape)
# 2) Show column names and dtypes
print('\ncolumns & dtypes:')
# 3) Display first 5 rows
print(df.dtypes)
print('\nfirst rows:')
display(df.head())

shape: (150, 6)

columns & dtypes:
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species              str
dtype: object

first rows:

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
# Basic exploration (TODO)
# - Run df.info()
df.info()
print('\nSummary statistics:')
# - Run df.describe(include='all')
display(df.describe(include='all'))
# - Show number of missing values per column
print('\nMissing values per column:')
print(df.isna().sum())

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    str
dtypes: float64(4), int64(1), str(1)
memory usage: 7.2 KB

Summary statistics:

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

Missing values per column:
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
# TODO: Filter data for specific conditions:
# 1. Iris-setosa species only
setosa = df.loc[df['Species'] == 'Iris-setosa']
print(f"Iris-setosa samples: {len(setosa)} records")
# 2. Sepal length above 5.0 cm
large_sepal = df.loc[df['SepalLengthCm'] > 5.0]
print(f"Large sepal (>5.0cm): {len(large_sepal)} records")
# 3. Petal width above 1.0 cm
wide_petal = df.loc[df['PetalWidthCm'] > 1.0]
print(f"Wide petal (>0.1cm): {len(wide_petal)} records")
# 4. Combine multiple conditions
premium_flowers = df.loc[
    (df['SepalLengthCm'] > 5.0) &
    (df['PetalWidthCm'] > 1.0) &
    (df['Species'] != 'Iris-setosa')
]
print(f"Premium flowers (Large sepal + Wide petal + Not setosa): {len(premium_flowers)} records")
print("\nSpecies breakdown for premium flowers:")
print(premium_flowers['Species'].value_counts())

Iris-setosa samples: 50 records
Large sepal (>5.0cm): 118 records
Wide petal (>0.1cm): 93 records
Premium flowers (Large sepal + Wide petal + Not setosa): 92 records

Species breakdown for premium flowers:
Species
Iris-virginica     49
Iris-versicolor    43
Name: count, dtype: int64

In [12]:
# TODO: Perform the following sorting operations:
# 1. Sort by sepal length in descending order and print top 5 longest
sepal_sorted = df.sort_values('SepalLengthCm', ascending=False)
print("Top 5 longest sepals:")
print(sepal_sorted[['Species', 'SepalLengthCm', 'SepalWidthCm']].head())
# 2. Sort by multiple columns: Species, then SepalLengthCm
multi_sorted = df.sort_values(['Species', 'SepalLengthCm'], ascending = [True, False])
print("\nTop flowers by species and sepal length:")
print(multi_sorted[['Species', 'SepalLengthCm', 'PetalLengthCm']].head(10))
# 3. Find top 10 largest petals (by length)
top_10_petals = df.nlargest(10, 'PetalLengthCm')
print("\nTop 10 longest petals:")
print(top_10_petals[['Species', 'PetalLengthCm', 'PetalWidthCm', 'SepalLengthCm']])

Top 5 longest sepals:
            Species  SepalLengthCm  SepalWidthCm
131  Iris-virginica            7.9           3.8
135  Iris-virginica            7.7           3.0
122  Iris-virginica            7.7           2.8
117  Iris-virginica            7.7           3.8
118  Iris-virginica            7.7           2.6

Top flowers by species and sepal length:
        Species  SepalLengthCm  PetalLengthCm
14  Iris-setosa            5.8            1.2
15  Iris-setosa            5.7            1.5
18  Iris-setosa            5.7            1.7
33  Iris-setosa            5.5            1.4
36  Iris-setosa            5.5            1.3
5   Iris-setosa            5.4            1.7
10  Iris-setosa            5.4            1.5
16  Iris-setosa            5.4            1.3
20  Iris-setosa            5.4            1.7
31  Iris-setosa            5.4            1.5

Top 10 longest petals:
            Species  PetalLengthCm  PetalWidthCm  SepalLengthCm
118  Iris-virginica            6.9           2.3            7.7
117  Iris-virginica            6.7           2.2            7.7
122  Iris-virginica            6.7           2.0            7.7
105  Iris-virginica            6.6           2.1            7.6
131  Iris-virginica            6.4           2.0            7.9
107  Iris-virginica            6.3           1.8            7.3
109  Iris-virginica            6.1           2.5            7.2
130  Iris-virginica            6.1           1.9            7.4
135  Iris-virginica            6.1           2.3            7.7
100  Iris-virginica            6.0           2.5            6.3

In [13]:
# TODO: Calculate average measurements by:
# 1. Species(Average sepal length by species)
stats_by_species = (df.groupby('Species')
                    .agg(avg_sepal_length = ('SepalLengthCm', 'mean'))
                    .reset_index().round(2))
print("Average sepal length by species:")
print(stats_by_species)
# 2. Species with multiple aggregations (mean, min, max)
multi_stats_species = (df.groupby('Species')
                       .agg(
                           avg_sepal_length = ('SepalLengthCm', 'mean'),
                           min_petal_length = ('PetalLengthCm', 'min'),
                           max_petal_width = ('PetalWidthCm', 'max')
                       )
                       .reset_index()
                       .sort_values('min_petal_length', ascending = False)
                       .round(2))
print("\nMultiple stats by species:")
print(multi_stats_species)
# 3. Create size categories and group by them
df['size_category'] = pd.cut(df['SepalLengthCm'],
                             bins = [0,5,6,10],
                             labels = ['Small', 'Medium', 'Large'])

stats_by_size = (df.groupby('size_category')['PetalLengthCm']
                 .agg(avg_petal_length='mean')
                 .reset_index()
                 .sort_values('avg_petal_length', ascending=False)
                 .round(2))
print("\nAverage petal length by size category:")
print(stats_by_size)
# 4. Species AND size category (multi-level groupby)
multi_group = (df.groupby(['Species', 'size_category'])['PetalLengthCm']
               .agg(avg_petal_length = 'mean')
               .reset_index()
               .sort_values('avg_petal_length', ascending =False)
               .round(2))
print("\nPetal length by species and size category:")
print(multi_group)

Average sepal length by species:
           Species  avg_sepal_length
0      Iris-setosa              5.01
1  Iris-versicolor              5.94
2   Iris-virginica              6.59

Multiple stats by species:
           Species  avg_sepal_length  min_petal_length  max_petal_width
2   Iris-virginica              6.59               4.5              2.5
1  Iris-versicolor              5.94               3.0              1.8
0      Iris-setosa              5.01               1.0              0.6

Average petal length by size category:
  size_category  avg_petal_length
2         Large              5.32
1        Medium              3.24
0         Small              1.71

Petal length by species and size category:
           Species size_category  avg_petal_length
7   Iris-virginica         Large              5.68
6   Iris-virginica        Medium              5.01
4  Iris-versicolor         Large              4.58
5   Iris-virginica         Small              4.50
3  Iris-versicolor        Medium              4.12
2  Iris-versicolor         Small              3.37
1      Iris-setosa        Medium              1.51
0      Iris-setosa         Small              1.43

In [14]:
# TODO: Create the following new features:
# Create new features
df_features = df.copy()

# 1. Setosa species indicator, is_setosa (boolean for Iris-setosa species)
df_features['is_setosa'] = df['Species'].isin(['Iris-setosa'])
# 2. Large flower indicator, is_large_flower (boolean for SepalLengthCm > 5.5)
df_features['is_large_flower'] = df['SepalLengthCm'] > 5.5


# Display the new features
print("New features created:")
print(f"\nSetosa flowers: {df_features['is_setosa'].value_counts()}")
print(f"\nLarge flowers: {df_features['is_large_flower'].value_counts()}")

New features created:

Setosa flowers: is_setosa
False    100
True      50
Name: count, dtype: int64

Large flowers: is_large_flower
True     91
False    59
Name: count, dtype: int64